nav > ul > li {
    display: inline-block;
    margin: 10px;
}
nav li > a{
    text-decoration: none;
}
p{
    margin-top: 30px;
    text-align: center;

}
article{
    background-color: aqua;
    border: 10px solid orange;
    border-radius: 7px;
    padding: 8px;
}