nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right:5px;
    padding: 5px;
}
nav li a{
    text-decoration: none;
}
nav li:hover{
    background-color: rgba(165, 42, 42, 0.319);
}
/* Nested menu styles */
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: aqua;
}
nav li:hover .dropdown{
    display: block;
}